//WIDTHs
$mobile-small-width-max: 519px;
$xs-width-min: 520px;
$xs-width-max: 767px; //xs max limit in flexboxGrid
$sm-width-min: 768px; //sm min limit in flexboxGrid

$main-content-max-width: 1024px;

//HEIGHTs
$header-height: 58px;
$header-mobile-height: 48px;
