@import 'src/constants/mixins.scss';
@import 'src/constants/sizes.scss';
@import 'src/constants/colors.scss';

.button-container.bottom-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  z-index: 1000;
  // background-color: #fff;

  @media (max-width: $mobile-small-width-max) {
    padding: 0;
    width: 100%;

    > .button {
      @include material-shadow-reversed();
      margin-bottom: 0;

      &.show {
        // display: inline-block !important;
      }

      &.buttons-x1 {
        width: 100%;
      }

      &.buttons-x2 {
        width: 50%;
      }

      a, button, div {
        border-radius: 2px 2px 0 0 !important;
      }
    }
  }
}
