.button-container.bottom-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  z-index: 1000; }
  @media (max-width: 519px) {
    .button-container.bottom-button-container {
      padding: 0;
      width: 100%; }
      .button-container.bottom-button-container > .button {
        -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 -1px 6px, rgba(0, 0, 0, 0.12) 0 -1px 4px !important;
        -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 -1px 6px, rgba(0, 0, 0, 0.12) 0 -1px 4px !important;
        -ms-box-shadow: rgba(0, 0, 0, 0.12) 0 -1px 6px, rgba(0, 0, 0, 0.12) 0 -1px 4px !important;
        box-shadow: rgba(0, 0, 0, 0.12) 0 -1px 6px, rgba(0, 0, 0, 0.12) 0 -1px 4px !important;
        margin-bottom: 0; }
        .button-container.bottom-button-container > .button.buttons-x1 {
          width: 100%; }
        .button-container.bottom-button-container > .button.buttons-x2 {
          width: 50%; }
        .button-container.bottom-button-container > .button a, .button-container.bottom-button-container > .button button, .button-container.bottom-button-container > .button div {
          border-radius: 2px 2px 0 0 !important; } }
